h1{
    color: #df1010
    }

p{
    color: blue;
    border: 3px solid;
    }

img {
 width: 600px;
}
    
    a{
        background-color: aquamarine
        cornsilk
        padding; 5px;
        text ::-webkit-search-decoration; 
    }    
a:haver
    
    
}
