.fakeimg{
    background:#aaa;
    min-height:150px;
    padding:0;
    overflow:hidden;
}
.menu-btn{
    position:fixed;
    top:10px;
    left:10px;
    font-size:30px;
    border:none;
    background:none;
    cursor:pointer;
    z-index:1000;
}